<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title, links, scripts)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/tailwind.css}">
    <link rel="stylesheet" th:href="@{/css/flowbite.min.css}">
    <script type="text/javascript" th:src="@{/js/flowbite.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/1.9.8/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>

    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>

<body>
    <th:block th:fragment="empty_frag"></th:block>
</body>
</html>