<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="search_input_on_empty">
    <input name="todo"
           th:id="search-input"
           class="w-full"
           placeholder="Add some todos"
           type="text"
           th:attr="
                       hx-post=@{/todos/save}
                       , hx-reset-on-success='true'
                       , hx-include='previous input'
                       , hx-trigger='keyup[keyCode==13]'
                       , hx-target='#todos-empty'
                       , hx-swap='outerHTML'">

</th:block>

<th:block th:fragment="search_input_on_present">
    <input name="todo"
           th:id="search-input"
           class="w-full"
           placeholder="Add some todos"
           type="text"
           th:attr="
                       hx-post=@{/todos/save}
                       , hx-reset-on-success='true'
                       , hx-include='previous input'
                       , hx-trigger='keyup[keyCode==13]'
                       , hx-target='#todos-container'
                       , hx-swap='afterbegin'"
    >
</th:block>

</body>
</html>